doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 

    h1 HELLO WORLD!!!!
    img(src="./img/White.png" alt="")

p.p__main Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim harum voluptatum fugiat nam perferendis, accusantium incidunt. Animi unde rem totam odio nesciunt! Fuga veniam consequatur possimus dolorum saepe natus omnis!Consequuntur voluptate neque in delectus labore assumenda, cum ratione facilis aut hic totam, quidem aspernatur ut suscipit libero veritatis non itaque beatae at! Quae consequatur, aliquid assumenda numquam delectus beatae.Assumenda dicta veniam commodi temporibus, dolore tempora iusto cupiditate in possimus unde necessitatibus debitis corporis sequi. Nobis, aut delectus modi quibusdam consequatur voluptatum quia beatae ex, suscipit aliquid commodi blanditiis!At non quos mollitia, repudiandae ipsum numquam libero dolorem. Tempora quis sint esse possimus a rem? Ullam, itaque, natus ipsum eaque molestias modi excepturi, sed odio nobis voluptas sunt corporis.Similique ullam quaerat dolorem facere esse, eum culpa aperiam placeat eaque ducimus vel nam non est iste unde minima ipsum atque eius molestiae rem. Rem magnam officiis consequuntur enim perspiciatis!Blanditiis minima animi quibusdam voluptatem ex dolores pariatur provident quo veniam aliquid excepturi praesentium officiis commodi eaque, voluptatibus fugiat vitae! Culpa dolores voluptatibus illo nulla perspiciatis placeat explicabo eligendi ipsam.Eligendi nihil dolores nemo obcaecati maxime recusandae laboriosam perferendis reprehenderit aliquid dolore perspiciatis, quod praesentium natus! Consequuntur praesentium perspiciatis, molestiae esse nihil veniam voluptatem nulla pariatur. Fuga id fugiat dignissimos.Quaerat pariatur quis distinctio. Quos asperiores fugiat laudantium, cum distinctio in deserunt numquam vero autem excepturi impedit ratione voluptates quas eum ducimus beatae odio reiciendis unde nemo repudiandae voluptate? Pariatur.Culpa ipsam amet rerum earum unde fuga, ut impedit, id blanditiis tempore, recusandae veritatis eligendi temporibus odit obcaecati labore delectus at. Deserunt est animi, eum quibusdam minima explicabo beatae vero.Enim doloremque, praesentium, eum aliquam mollitia ea ipsum quae eaque ipsam nulla aperiam nam! Sit eius sint aspernatur repudiandae non inventore facere molestiae et, quaerat nemo doloremque. Nihil, alias nobis.